*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat",sans-serif;
  }
  .contact-section{
    background: url(./maths1.png);
    background-size: cover;
    padding: 60px 0 40px 0;
    text-align: center;
  }
  
  .inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
  }
  
  .contact-section h1{
    font-size: 20px;
    color: #FFF;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
  }
  
  .name,.email,.message{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid;
    color: #FFF;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
  }
  
  .name{
    float: center;
    width: 540px;
  }

  .buttons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .contact-section button{
      margin-bottom: 20px;
      outline: none;
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
  }
  
  .contact-section button:hover{
    background: #70a1ff;
    color: #fff;
  }

  .ending-section{
      z-index: 10;
      bottom: 0;
      position: relative;
    background: #001f3f;
    padding: 80px 0;
    text-align: center;
  }

  .end-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      color: white;
  }

  .end-1-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .end-1-text h4{
    font-weight: 400;
    padding: 0 0 .25rem 0;
  }

  .end-1-text p{
      font-size: 10px;
    width: 75%;
  }

  .end-2-text p a{
 text-decoration: none;
 color: #FFF;  
}

body{
    margin:0;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='328' height='328' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23e8e8e8' stroke-width='1.7'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23d9d9d9'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
}

  .end-1{
      flex: 1;
  }

  .end-2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-2-text h4{
  padding: 0 0 .25rem 0;
  font-weight: 400;
}

.end-2-text p{
    font-size: 10px;
  width: 75%;
}

.end-2{
    flex: 1;
}
  
  @media screen and (max-width:700px){
    .contact-section{
        background: #001f3f;
    }
  }

  
  @media screen and (max-width:600px){
    .name,.email{
      width: 100%;
    }
  }

#canvas-container{
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 80vh;
    width: 100vw;
    max-width: 100vw;
    background: #FFF;
    overflow-y: scroll;
}

canvas{
    border: 1px solid lightgray;
}