body{
    margin:0;
}

.input-container{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.input-container > *{
    margin-right: 10px;
}

button{
    cursor: pointer;
}

input{
    padding: 10px;
    height: 35px;
    width: 200px;
}

#canvas-container{
    height: 100vh;
    width: 100%;
}

canvas{
    border: 1px solid lightgray;
}