*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat",sans-serif;
  }
  .contact-section{
    background: url(./maths1.png);
    background-size: cover;
    padding: 60px 0 40px 0;
    text-align: center;
  }
  
  .inner-width{
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
  }
  
  .contact-section h1{
    font-size: 20px;
    color: #FFF;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
  }
  
  .name,.email,.message{
    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid;
    color: #FFF;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
  }
  
  .name{
    float: center;
    width: 540px;
  }

  .buttons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .contact-section button{
      margin-bottom: 20px;
      outline: none;
    background: none;
    color: #70a1ff;
    border: 1px solid #70a1ff;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.4s linear;
    cursor: pointer;
  }
  
  .contact-section button:hover{
    background: #70a1ff;
    color: #fff;
  }

  .ending-section{
      z-index: 10;
      bottom: 0;
      position: relative;
    background: #001f3f;
    padding: 80px 0;
    text-align: center;
  }

  .end-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: auto;
      color: white;
  }

  .end-1-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .end-1-text h4{
    padding: 0 0 .5rem 0;
  }

  .end-1{
      flex: 1;
      
  }

  .end-2{
      flex: 1;
  }
  
  @media screen and (max-width:700px){
    .contact-section{
        background: #001f3f;
    }
  }

  
  @media screen and (max-width:600px){
    .name,.email{
      width: 100%;
    }
  }

#canvas-container{
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 80vh;
    width: 100vw;
    max-width: 100vw;
    background: #FFF;
}

canvas{
    border: 1px solid lightgray;
}